/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set font and background */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: gray;
    color: whitesmoke;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

/* Navigation styles */
nav ul {
    display: flex;
    list-style: none;
    padding: 0; /* Removes default padding */
    justify-content: center; /* Centers navigation items */
    flex-wrap: nowrap; /* Prevents wrapping to ensure horizontal alignment */
}

nav a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: whitesmoke;
}

/* Main section styles */
main {
    max-width: 800px;
    margin: 40px auto; /* Centers the main content */
    text-align: center; /* Centers text within main */
}

/* Section styles */
section {
    padding: 40px;
    background-color: black;
}

/* Headings */
h1, h2 {
    font-weight: normal;
    text-align: center;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    text-align: left; /* Aligns form text to the left */
}

input[type="submit"] {
    width: auto;
    background-color: lightgray;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
}

/* Game and contact styles */
#game, #connect {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Adjustments for answer boxes */
#answers li {
    list-style-type: none;
    padding: 10px;
    margin: 10px; /* Increased margin for better separation */
    background-color: #f0f0f0;
    display: inline-block;
    cursor: pointer;
    color: green;
    border: 2px solid green; /* Adds a green border */
    border-radius: 5px; /* Slight rounding of corners */
}

#answers li:hover, #answers li.selected {
    background-color: #666666;
    color: white; /* Ensures better readability */
}

#submit {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#progress-container {
    width: 100%;
    background-color: #ddd;
    margin-bottom: 20px;
}

#progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
}

/* Ensure MP4 Videos are Responsive */
video {
    max-width: 100%;
    height: auto;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 768px) {
    nav ul {
        flex-wrap: wrap; /* Allows navigation items to wrap */
        justify-content: center; /* Keeps items centered */
    }
    
    nav a {
        padding: 5px 10px; /* Adjust padding on smaller screens */
    }
    
    .question, #answers li {
        font-size: 18px; /* Adjusts font size for better readability */
    }

    #answers li {
        padding: 15px;
        margin: 10px 5px; /* Adjusts spacing around answer boxes */
    }

    #submit {
        font-size: 18px;
        padding: 15px 30px; /* Enlarges submit button for easier interaction */
    }

    main, section {
        padding: 20px; /* Adjusts padding for main content areas */
        box-sizing: border-box;
    }
}
